@layer base {
    body {
      font-family: system-ui, sans-serif;
    }
  
    .heading1{
      font-size: 4rem;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Granda'/'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color:aqua
  }

    .heading2{
      font-size: 2rem;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Granda'/'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color:aqua
    }
  }
  